name: Build App Release

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout    
        uses: actions/checkout@v4
        
      - name: Add necessary properties into the local.properties
        run: |
          echo "apiUrl=${{ secrets.API_URL }}" >> local.properties
          echo "apiSecretKey=${{ secrets.API_SECRET_KEY }}" >> local.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: "temurin"
          cache: gradle          
                    
      - name: Compile
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease

      - name: Sign Apk
        uses: ilharp/sign-android-release@v1
        id: sign_app
        with:
          releaseDir: app/build/outputs/apk/release
          signingKey: ${{ secrets.ANDROID_SIGNING_KEY }}
          keyAlias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}

      - name: Upload Signed APK
        uses: actions/upload-artifact@v3
        with:
          name: apk-release
          path: ${{steps.sign_app.outputs.signedFile}}